<div class="background">
    <div class="titleBackground">
        <span><h1>Get inspired</h1><h2>find your way to get</h2></span>
        <span><p>by people's art</p><h1>creativity</h1></span>
    </div>
    
    <div class="carouselDiv">
        <owl-carousel-o [options]="customOptions">

            <ng-template carouselSlide *ngFor="let post of data">
                <app-card-nft 
                [title]="post.title"
                [username]="post.nickname"
                [value]="post.value"
                [imageurl]="post.imageurl"
                ></app-card-nft>
            </ng-template> 

        </owl-carousel-o>
    </div>
</div>