@import "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css";


.background {
    width: 100%;
    height: 100vh;
    background-color: rgb(10, 10, 10);
}

.titleBackground {
    display: flex;
    width: 100%;
    height: 25vh;
    background-color: rgb(10, 10, 10);
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.titleBackground h1 {
    transition: cubic-bezier(0.46, 0, 0, 1) all 0.55s;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.103);
}

.titleBackground h1:hover {
    font-size: 50px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.445);
}

span {
    font-size: 27px;
    transition: cubic-bezier(0.46, 0, 0, 1) all 0.55s;
}

span:hover {
    letter-spacing: 1px;
}

.carouselDiv {
    margin-top: 50px;
}