@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

* {
  font-family: "Heebo", sans-serif;
}

.vh-title {
  font-size: 40px !important;
}

.w-40 {
  width: 40%;
}